.cardforcart{
    box-shadow: 0px 0px 21px 3px rgba(133,133,133,0.66);
    -webkit-box-shadow: 0px 0px 21px 3px rgba(133,133,133,0.66);
    -moz-box-shadow: 0px 0px 21px 3px rgba(133,133,133,0.66);
    width: 300px;
    height: 400px;
    position: relative;
    margin: auto;
}
.cardforcart img{
    width: 250px;
    height: 250px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.cardforcart .card__description{
    text-align: center;
}
.cardforcart .card__description h4{
    color: green;
    font-weight: bold;
    font-size: 16px;
}
.cardforcart .card__description h5{
    color: red;
    font-size: 14px;
}
.cardforcart .card__description p{
    font-weight: normal;

}
.remove_cart_button{
    box-shadow: -16px 14px 109px 0px rgba(0,0,0,0.75);
}
.card__buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.card__buttons button{
    border-radius: 0;
    width: 60px;
}