.catagories{
    border: 1px solid grey;
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    width: 300px;
    margin-left:auto ;
    margin-right: auto;
    padding: 10px;
    align-items: center;
    margin-bottom: 20px;
}
.catagories div button {
    border-radius: 0;
    width: 70px;
}
.dispear_div{
    display: none;
}